<!DOCTYPE html>
<html>
  <head>
    <title>Planing</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link rel="icon" href="planing/img/icon.ico" type="image/x-icon"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    	<!-- Fonts and icons -->
	<script src="planing/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['planing/css/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

  	<!-- CSS Files -->
	<link rel="stylesheet" href="planing/css/bootstrap.min.css">
	<link rel="stylesheet" href="planing/css/atlantis.min.css">
  <link rel="stylesheet" href="planing/css/fonts.min.css">
	<link href="planing/css/styles.css" rel="stylesheet" />
	<link href="planing/css/prism.css" rel="stylesheet" />
	<%# <!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="planing/css/demo.css"> %>

  </head>

  <body data-background-color="dark">
      <%= render 'layouts/navbar' %>
    <%= yield %>

		
    <!--   Core JS Files   -->
	<script src="planing/core/jquery.3.2.1.min.js"></script>
	<script src="planing/core/popper.min.js"></script>
	<script src="planing/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="planing/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="planing/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="planing/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

  <script src="planing/plugin/webfont/webfont.min.js"></script>
  
	<!-- Chart JS -->
	<script src="planing/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="planing/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="planing/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="planing/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="planing/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="planing/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="planing/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="planing/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="planing/atlantis.min.js"></script>

	<script src="planing/js/prism.js"></script>
	<script src="planing/js/prism-normalize-whitespace.min.js"></script>

	<%# <!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="planing/setting-demo.js"></script>
	<script src="planing/demo.js"></script> %>

  	<script>
		$('#lineChart').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart2').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart3').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});
	</script>
  </body>
</html>
